div.rank-wrapper
  - if user
    div = button_to '+', ranks_create_path(class: resource.class.name, resource_id: resource.id, value: 1),
            remote: true,
            method: :post,
            name: "#{resource.class.name.downcase}_#{resource.id}",
            'data-value': 1,
            data: { format: :json },
            disabled: resource.author == user,
            class: resource.rank_given(user)&.value == 1 ? 'btn btn-success' : 'btn btn-secondary'
  div(class="#{resource.class.name.downcase}_#{resource.id}_ranking")
    = 'Rank: '
    span = resource.ranking
  - if user
    div = button_to '-', ranks_create_path(class: resource.class.name, resource_id: resource.id, value: -1),
            remote: true,
            method: :post,
            name: "#{resource.class.name.downcase}_#{resource.id}",
            'data-value': -1,
            data: { format: :json },
            disabled: resource.author == user,
            class: resource.rank_given(user)&.value == -1 ? 'btn btn-success' : 'btn btn-secondary'
